body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #ceb3b3;
}
h4 {
  font-size: 2rem;
  height: 2rem;
  text-align: center;
  animation: fadeIn 1s ease forwards;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #432237;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 2s ease forwards;
    
}

.display-num {
  width: 10rem;
  height: 4rem;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
}
/* for chrom safari and internet explorer */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.buttons {
  display: flex;
  gap: 20px;
}

.buttons button {
  width: 3rem;
  height: 3rem;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s;
}
#reset {
  margin-top: 0.8rem;
  width: 4rem;
  height: 3rem;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s;
}

.buttons button:hover {
  background-color: #0056b3;
}
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0); 
    }
  }